<!DOCTYPE HTML>
<html>
	<head>
		<title>TurboForms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">				
					<a href="layout.html" class="logo">companyname</a>
				</nav>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>


			<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

			{% block content %}
			{% endblock %}

				<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Contact Us</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">mohdjunaidanwar@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Coalfax ave, Princeton, NJ 00000</li>
					</ul>
				</div>
			</footer>

	</body>
</html>